/* Wrapper da Seção */
.partners-wrapper {
    margin: 40px 0;
}

/* Estilo da Seção de Parceiros */
.partners-section {
    padding: 40px 20px;
    background-color: #f9f9f9;
    text-align: center;
    border-radius: 8px;
}

.partners-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.partners-logos {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.partners-logos img {
    width: 150px; /* Largura fixa */
    height: 150px; /* Altura fixa para formato quadrado */
    object-fit: cover; /* Corta a imagem para preencher o quadrado */
    border-radius: 4px;
    transition: transform 0.3s ease;
}

.partners-logos img:hover {
    transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
}
